{% extends "main/base.html" %}
{% load static %}

{%block title%} <title>Płatność odrzucona - Wyprawowo.pl</title> {%endblock title%}
{% block content %}
<link rel="stylesheet" href="{% static  'css/user_manager/confirmation_email.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_manager/ini_payment_process.css' %}"/>

<body>
<div class="confirm-email-wrapper">
    <div class="box confirm-box">
        <img src="{% static 'img/wyprawowo-black.svg' %}" alt="Wyprawowo logo" class="wyprawowo-logo"/>
        <p class="hello-p center">🚫 Płatność odrzucona </p>
        <p class="payment-error-message"> Coś poszło nie tak. Jeżeli to nie jest błąd skontaktuj się z
            administratorem </p>
        <p class="action-p">Kliknij w tamten link, aby aktywować konto.</p>

        <i> - Zespół Wyprawowo.pl </i>

        <a href="/" class="back-btn">Powrót</a>
    </div>
</div>


</body>

{% endblock content%}