<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/components/style.css'%}" />
    <script src="{% static 'js/main.js' %}" type="module"></script>

    {% block title %} {% endblock title %}
  </head>
    {% block content %} {% endblock content %}

    <footer>
      To jest stopka
    </footer>
  </head>
</html>