{% extends "main/base_with_navbar.html" %}
{%load static %}
{% block title %} <title> {{profile.user.first_name}} {{ profile.user.last_name }} -
    Wyprawowo.pl</title> {%endblock title%}

{% block content %}
<link rel="stylesheet" type="text/css" href="{%static 'css/user_manager/style.css'%}"/>
<link rel="stylesheet" type="text/css" href="{%static 'css/socials/profile_page.css'%}"/>
<div class="profile-wrapper">
    <div class="profile-left-panel">
        <div class="profile-main-view">
            <div class="red-overlay">
                <div class="profile-box box-no-shadow">
                    <div class="profile-main-info">

                        <img src="{{profile.avatar}}/thumb" alt="{{profile.slug}} avatar" class="profile_avatar"/>

                        <div class="profile_data">
                            <p class="profile_name">
                                {{profile.user.first_name}} {{profile.user.last_name}}
                            </p>
                            <p class="avatar-number">
                                <img src="{% static 'img/wyprawowo-avatar.png' %}" alt="wyprawowo avatar"/>
                                99</p>
                        </div>
                    </div>

                    <p class="profile-description">
                        {{profile.description}}
                    </p>
                    <div class="profile-bottom-panel">
                        <div class="characteristics-container">
                            {% for character in characteristics %}
                            <p class="characteristics-box">{{character}}</p>
                            {% endfor %}
                        </div>
                        <button class="btn-avatar">
                            Zostaw avatar
                            <span class="avatar-wrapper">
                            <img src="{% static 'img/wyprawowo-avatar.png' %}" alt="wyprawowo avatar"/>
                            </span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="profile-side-bar"></div>
        <div class="profile-activity red-overlay">
            <p class="no-posts"> Brak wpisów użytkownika </p>
        </div>
    </div>

    <div class="profile-right-panel">
        <div class="red-overlay profile-right-panel-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-content-header box">
                    <p>👋 Ludzie, których warto znać</p>
                </div>

                <div class="sidebar-content-body box">
                    {% for profile_wtk in worth_to_know_profiles %}
                    <div class="box user-box">
                        <a href="{{profile_wtk.slug}}">
                            <div class="user-box-top">
                                <img class="profile-avatar" src="{{profile_wtk.avatar}}/thumb"
                                     alt="{{profile_wtk.user.first_name}}-avatar"/>
                                <div class="profile_data">
                                    <p class="profile_name">
                                        {{profile_wtk.user.first_name}} {{profile_wtk.user.last_name}}
                                    </p>
                                    <p class="avatar-number">
                                        <img src="{% static 'img/wyprawowo-avatar.png' %}" alt="wyprawowo avatar"/>
                                        99</p>
                                </div>
                            </div>

                            <p class="user-box-description"> {{profile_wtk.description}} </p>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock content%}