{% extends "main/base.html" %}

{% load static %}

{%block title%} <title>Aktywuj konto - Wyprawowo.pl</title> {%endblock title%}
{% block content %}
<link rel="stylesheet" href="{% static  'css/user_manager/confirmation_email.css' %}">
<body>
<div class="confirm-email-wrapper">
    <div class="box confirm-box">
        <img src="{% static 'img/wyprawowo-black.svg' %}" alt="Wyprawowo logo" class="wyprawowo-logo"/>
        <p class="hello-p"> Witaj {{first_name}}! </p>
        <p> na emaila <span class="bold"> {{email}} </span> została wysłana wiadomość z linkiem potwierdzającym
            rejestracje. </p>
        <p class="action-p">Kliknij w tamten link, aby aktywować konto.</p>

        <i> - Zespół Wyprawowo.pl </i>
    </div>
</div>


</body>

{% endblock content%}