.inspire-us {
    padding: 10px;
    display: flex;
}

.inspire-us img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.inspire-us-button {
    background: transparent;
    border: 1px solid rgba(153, 153, 153, 0.6);
    border-radius: 5px;
    flex-grow: 1;
    margin-left: 10px;
    font-size: 14px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.inspire-us-button:hover {
    background-color: #eaeaea;
}

.popular-events.mobile .popular-event-box-description {
    font-size: 13px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
    z-index: 2;
}

.create-post {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-post-wrapper {
    padding: 10px;
    width: 350px;
    z-index: 3;
}

.create-post {
    display: none;
}

.create-post.open {
    display: flex;
}

.btn-create-post:hover {
    background-color: var(--my-red);
    transition: background-color 0.2s;
}

.btn-create-post {
    background-color: var(--indian-red);
    border: 0;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    height: 40px;
}

.title-box {
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.6);
}

.form-create-post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.form-create-post label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: #5b5b5b;
}


.post-type-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.6);
    padding: 10px;
}

.post-type-label {
    border: 0;
    font-size: 14px;
}

#post_type {
    border-radius: 5px;
    border: 0;
}

.post-content {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid rgba(153, 153, 153, 0.6);
    border-radius: 5px;
}

#hashtags {
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.6);
}

select:focus, textarea:focus {
    border: 1px solid var(--indian-red);
    outline: none;
}

#text-fields label {
    font-size: 14px;
    padding-left: 10px;
    margin-top: 10px;
}

#hashtags:focus {
    border-bottom: 1px solid var(--indian-red);
}

#event-fields input {
    width: 100%;
    border-bottom: 1px solid rgba(153, 153, 153, 0.6);

}

#event-fields input:focus {
    border-bottom: 1px solid var(--indian-red);
}

#event-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    font-size: 14px;
}


.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-cancel {
    background-color: var(--my-red);
    border: 0;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    height: 40px;
}

.post {
    margin-top: 20px;
    padding: 10px;
}

.post-topbar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.post-topbar .user-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(153, 153, 153, 0.6);
    padding-bottom: 5px;
    font-size: 14px;
}

.post-topbar-user-avatar {
    cursor: pointer;
}

.post-topbar-user-avatar img {
    height: 50px;
    border-radius: 100%;
}

.post-text {
    padding: 5px;
    border: 1px solid rgba(153, 153, 153, 0.6);
    border-radius: 5px;
    font-size: 14px;
}

.hashtags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px 0;
}

.tag-box {
    background-color: #D9D9D9;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 13px;
}

.avatars-counter {
    display: flex;
    align-items: center;
}

.actions-counter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatars-counter > button > span {
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: #D9D9D9;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.actions-counter > div {
    background-color: var(--my-red);
    color: #F6F6F6;
    border-radius: 5px;
}


.avatars-counter img {
    height: 25px;
}

.action-box {
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 13px;
}

.btn-continue-reading {
    margin-left: auto;
    margin-top: 5px;
    background-color: transparent;
    color: #3072f6;
    border: none;
    display: block;
    margin-right: 5px;
    cursor: pointer;
    transition: color 0.2s;
}

.btn-continue-reading:hover {
    color: #003dbd;
}

.new-users-heading {
    padding: 10px;
    font-weight: 500;
}

.new-users-wrapper {
    margin-top: 10px;
    padding: 10px;
}

.popular-events {
    margin-top: 20px;
}

.new-users-name-box img {
    height: 40px;
    border-radius: 100%;
}

.new-users-name-box a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.new-users-name-box a {
    color: black;
    text-decoration: none;
}

.new-users-see-more {
    display: flex;
    align-items: center;
}

.new-users-see-more a {
    color: #3072f6;
}

.new-users-box {
    border-bottom: 1px solid rgba(153, 153, 153, 0.6);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    font-size: 14px;
    padding: 5px;
}

.new-users-box-date {
    display: flex;
    align-items: center;
}

.popular-events-heading {
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
}

.event-type {
    width: fit-content;
    background-color: #D9D9D9;
    padding: 5px 10px;
    border-radius: 5px;
}

.event-character {
    background-color: #D9D9D9;
    display: flex;
    gap: 5px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.event-character-box {
    background-color: var(--my-red);
    color: #fff;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-text .event-title {
    border-bottom: 1px solid #000;
    padding: 5px 0;
    font-weight: 500;
}

.post-text p {
    padding-top: 5px;
}

button.avatars-counter {
    background-color: var(--my-red);
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: 0;
    padding-left: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button.avatars-counter:hover {
    background-color: #730000;
}

.button.avatars-counter[data-action="unlike"] {
    background-color: #730000;
}

.popular-events-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.popular-event-box {
    padding: 5px;
    font-size: 14px;
}

.popular-event-box-title {
    color: #000;
    padding: 5px 0;
    border-bottom: 1px solid #000;
    text-decoration: none;
    display: block;
}

.popular-event-box-description {
    background-color: #E5E5E5;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
    min-height: 115px;
}

.popular-event-box .event-character-box {
    width: fit-content;
}

.popular-event-box-bottom .see-details {
    border: 0;
    background-color: transparent;
    color: #3072f6;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.2s;
}

.popular-event-box-bottom .see-details:hover {
    color: #003dbd;
}

.popular-event-box-bottom {
    display: flex;
    justify-content: space-between;
}

.comment-textarea {
    padding: 10px;
    border: 1px solid rgba(153, 153, 153, 0.6);
    border-radius: 5px;
    flex-grow: 1;
}

.comment-form {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    font-size: 14px;
    height: 75px;
    align-items: center;
}

.btn-add-comment {
    background-color: var(--my-red);
    color: #fff;
    border: 0;
    height: 30px;
    width: 75px;
    border-radius: 5px;
    cursor: pointer;
}

.comments-section {
    border-left: 1px solid rgba(153, 153, 153, 0.6);
    padding: 5px;
    font-size: 14px;
}

.comments-section-wrapper {
    display: none;
}

.comment-box {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.6)
}

.comment-box a img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.comment-box-user {
    margin: 10px 5px 3px;
    font-weight: 600;
}

.comment-box-content {
    margin-left: 5px;
}

.comment-counter {
    border: 0;
    background-color: var(--my-red);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.comment-counter:hover {
    background-color: #730000;
}

.my-grid-container-right-panel.activity-panel {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    height: 500px;
}

.my-grid-container.activity-panel {
    position: relative;
}

.popular-events.mobile {
    margin: 10px 5px;
}

.my-grid-container.activity-panel {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .popular-events.mobile {
        display: none;
    }

    .my-grid-container.activity-panel {
        margin-top: 50px;
    }

    .popular-events-heading {
        font-size: 1.17em;

    }
}