.my-grid-container {
    min-height: 100vh;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 5px;
}

.red-overlay {
    background-color: var(--my-red);
    padding: 5px;
    border-radius: 5px;
}

.profile_avatar {
    height: 70px;
    border-radius: 100%;
    background-color: gray;
    border: 1px solid black;
}

.profile-main-info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9999;
    padding-bottom: 10px;
}

.profile-box {
    padding: 5px;
}

.profile_name {
    font-size: 20px;
    margin-left: 10px;
}

.profile-description {
    padding: 5px 0;
    font-size: 0.9em;
    color: #252525;
}

.profile-activity {
    margin-top: 25px;
}

.no-posts {
    color: #fff;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

.my-grid-container {
    max-width: 1200px;
}

.sidebar-content-header p {
    font-size: 18px;
    padding: 10px 7px;
    font-weight: 500;
}

.sidebar-content-body {
    height: 100%;
    overflow-y: scroll;
}

.sidebar-content {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0;
    left: 0;
    height: 80vh;
}

.sidebar-content.worth-know {
    min-height: 80vh;
}

.my-grid-container-right-panel-wrapper {
    position: sticky;
    top: 100px;
}

.user-box {
    margin: 10px;
    padding: 10px;
    transition: background-color 0.2s;
}

.user-box:hover {
    background-color: #eaeaea;
}

.user-box-top .profile-avatar {
    height: 48px;
    border-radius: 100%;
}

.user-box > a {
    color: black;
    text-decoration: none;
}

.user-box-top {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #9999;
    padding-bottom: 10px;
}

.profile-post-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-post-list .post {
    margin: 0;
}

.user-box-top > .profile_data > .profile_name {
    font-size: 15px;
}

.user-box-top > .profile_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.sidebar-content-body .profile_data .avatar-number {
    font-size: 13px;
}

.sidebar-content-body .profile_data .avatar-number img {
    height: 20px;
}

.user-box-description {
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #9999;
}

.sidebar-content-body .characteristics-container {
    margin-top: 5px;
}

.sidebar-content-body .characteristics-box {
    font-size: 13px;
}

.profile-bottom-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 5px;
}

.btn-avatar img {
    height: 20px;
}

.btn-avatar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--indian-red);
    border: 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    padding-left: 5px;
    align-self: start;
}

.btn-avatar:hover {
    background-color: var(--my-red);
}

.avatar-wrapper {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin-left: 5px;
}

.avatar-number {
    font-size: 14px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 2px;
    background-color: #e8e8e8;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.characteristics-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    position: relative;
}

.characteristics-container > .characteristics-box {
    cursor: pointer;
}

.characteristics-box-modal {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #d9d9d9;
    z-index: 1;
}

.see-more-characteristics {
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #2EA64F;
    padding: 5px;
}

.characteristics-box-modal.active {
    display: flex;
}

.characteristics-box {
    font-size: 13px;
    background-color: #2EA64F;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.avatar-number img {
    height: 20px;
}

.my-grid-container-right-panel {
    display: none;
}

.my-grid-container-left-panel {
    min-height: 300px;
}

.characteristics-box-modal .btn-close {
    outline: none;
    border: 0;
    margin-left: auto;
    display: block;
    cursor: pointer;
    background-color: transparent;
    margin-top: 5px;
}

.btn-close img {
    height: 30px;
}

@media (min-width: 727px) {
    .my-grid-container {
        display: grid;
        grid-template-columns: 4fr 3fr;
        gap: 50px;
    }

    .my-grid-container-right-panel {
        display: block;
    }

    .btn-avatar {
        width: auto;
    }
}